@font-face {
    font-family: "Tesla_regular";
    src: url(TESLA.ttf);
}

body{
    background-color: black;
}
h3{
    color: #fff;
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
    font-family: "Tesla_regular";
    font-size: 30px;
}
#font-size{
    color: rgb(255, 0, 0);
    text-shadow:
    0 0 7px rgb(255, 153, 0),
    0 0 10px rgb(255, 153, 0),
    0 0 21px rgb(255, 153, 0),
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(225, 0, 0),
    0 0 92px rgb(225, 0, 0),
    0 0 102px rgb(225, 0, 0),
    0 0 151px rgb(225, 0, 0);
    font-family: "Tesla_regular";
    font-size: 20px;
}
.note{
    font-size: 17px;
    text-shadow:
    0 0 4px #fff,
    0 0 11px #fff,
    0 0 19px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
    color: #0fa;
}
.bottom{
    bottom: 0;
    position: fixed;
    color: rgb(246, 255, 0);
    text-align: center;
    width: 100%;
    text-shadow:
    0 0 7px rgb(255, 153, 0),
    0 0 10px rgb(255, 153, 0),
    0 0 21px rgb(255, 153, 0),
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(225, 0, 0),
    0 0 92px rgb(225, 0, 0),
    0 0 102px rgb(225, 0, 0),
    0 0 151px rgb(225, 0, 0);
}
canvas{
    border: 1px solid white;
    box-shadow:
    0 0 2px rgb(0, 255, 255),
    0 0 8px rgb(0, 255, 255),
    0 0 19px rgb(0, 255, 255),
    0 0 21px rgb(0, 225, 255),
    0 0 32px rgb(0, 225, 255),
    0 0 38px rgb(0, 225, 255),
    0 0 40px rgb(0, 225, 255),
    0 0 53px rgb(0, 225, 255);
    background-color: rgb(56, 56, 56);
    border-radius: 30px;
    margin-top: 60px;
}
canvas text{
    color: rgb(255, 234, 0);
    text-shadow:
    0 0 7px rgb(255, 153, 0),
    0 0 10px rgb(255, 153, 0),
    0 0 21px rgb(255, 153, 0),
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(225, 0, 0),
    0 0 92px rgb(225, 0, 0),
    0 0 102px rgb(225, 0, 0),
    0 0 151px rgb(225, 0, 0);
    font-family: "Tesla_regular";
}
video{
    box-shadow:
    0 0 2px rgb(0, 255, 255),
    0 0 8px rgb(0, 255, 255),
    0 0 19px rgb(0, 255, 255),
    0 0 21px rgb(0, 225, 255),
    0 0 32px rgb(0, 225, 255),
    0 0 38px rgb(0, 225, 255),
    0 0 40px rgb(0, 225, 255),
    0 0 53px rgb(0, 225, 255);
    margin-left: 80px;
    margin-top: 10px;
    border-radius: 50px;
}
#nametag{
    color: rgb(255, 234, 0);
    text-shadow:
    0 0 7px rgb(255, 153, 0),
    0 0 10px rgb(255, 153, 0),
    0 0 21px rgb(255, 153, 0),
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(225, 0, 0),
    0 0 92px rgb(225, 0, 0),
    0 0 102px rgb(225, 0, 0),
    0 0 151px rgb(225, 0, 0);
    font-family: "Tesla_regular";
    font-size: 20px;
}
#giname{
    background-color: black;
    color: rgb(255, 234, 0);
    text-shadow:
    0 0 7px rgb(255, 153, 0),
    0 0 10px rgb(255, 153, 0),
    0 0 21px rgb(255, 153, 0),
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(225, 0, 0),
    0 0 92px rgb(225, 0, 0),
    0 0 102px rgb(225, 0, 0),
    0 0 151px rgb(225, 0, 0);
    font-family: "Tesla_regular";
    font-size: 20px;
}
.butt{
    background-color: rgb(56, 56, 56);
    color: rgb(255, 234, 0);
    text-shadow:
    0 0 7px rgb(255, 153, 0),
    0 0 10px rgb(255, 153, 0),
    0 0 21px rgb(255, 153, 0),
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(225, 0, 0),
    0 0 92px rgb(225, 0, 0),
    0 0 102px rgb(225, 0, 0),
    0 0 151px rgb(225, 0, 0);
    font-family: "Tesla_regular";
    box-shadow: 
    0 0 7px rgb(255, 153, 0),
    0 0 10px rgb(255, 153, 0),
    0 0 21px rgb(255, 153, 0),
    0 0 42px rgb(255, 0, 0),
    0 0 82px rgb(225, 0, 0),
    0 0 92px rgb(225, 0, 0),
    0 0 102px rgb(225, 0, 0),
    0 0 151px rgb(225, 0, 0);;
}